<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqi_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqi04.pvr.ccz</string>
            <key>size</key>
            <string>{708,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba7045db6e1d2e41dc41a76330c2434:090765ba6643233408ce4b65123817fd:188281871766f4fbbd0fe39087aca1c2$</string>
            <key>textureFileName</key>
            <string>yaoqi04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
