<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,742},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,557},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,372},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,187},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>yaoqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1426},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqi00.pvr.ccz</string>
            <key>size</key>
            <string>{493,1779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aabb778ebb3a938e050d0db30892ef11:acd3a3705b4cd18fe514f503bce083bd:8a6c26999a17b9d88a14f9ddbc81ffd7$</string>
            <key>textureFileName</key>
            <string>yaoqi00.pvr.ccz</string>
        </dict>
    </dict>
</plist>
