<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bosslost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1458},{430,354}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{430,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1060},{454,364}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{454,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1426},{440,364}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,59},{440,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{464,364}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{464,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1090},{452,366}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{452,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,726},{466,362}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{466,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,328},{476,362}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{476,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,326},{476,362}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{476,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{488,360}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,63},{488,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1056},{464,346}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,77},{464,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{452,346}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,77},{452,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{420,366}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{420,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1404},{450,352}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,71},{450,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1758},{392,360}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{392,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1792},{390,358}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{390,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1814},{380,356}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{380,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{376,356}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,66},{376,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2120},{370,356}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,66},{370,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{482,430}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,336}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,94},{496,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{482,324}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,106},{482,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{482,322}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,108},{482,322}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,364},{474,360}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{474,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,692},{468,366}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{468,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Bosslost_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,690},{472,364}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{472,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossLost.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79f96cc891e7af7362d613a5730a84df:7d5a1ce508b1ccfa9e2e27e313e29d0c:c292e16230e64c4dbd6db449a709fc4f$</string>
            <key>textureFileName</key>
            <string>BossLost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
