<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bosswait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{360,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,354}}</string>
                <key>sourceSize</key>
                <string>{360,354}</string>
            </dict>
            <key>Bosswait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{360,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,357}}</string>
                <key>sourceSize</key>
                <string>{360,357}</string>
            </dict>
            <key>Bosswait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{361,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,355}}</string>
                <key>sourceSize</key>
                <string>{361,355}</string>
            </dict>
            <key>Bosswait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,359},{361,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,355}}</string>
                <key>sourceSize</key>
                <string>{361,355}</string>
            </dict>
            <key>Bosswait_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{361,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,355}}</string>
                <key>sourceSize</key>
                <string>{361,355}</string>
            </dict>
            <key>Bosswait_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1075},{360,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,356}}</string>
                <key>sourceSize</key>
                <string>{360,356}</string>
            </dict>
            <key>Bosswait_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,716},{360,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,357}}</string>
                <key>sourceSize</key>
                <string>{360,357}</string>
            </dict>
            <key>Bosswait_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,356}}</string>
                <key>sourceSize</key>
                <string>{361,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossWait.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aed78891f437e862e0dabd3393cc568:08e5087557b7da03bac760e785116526:ac68c8640e3a184677d091699babfb0f$</string>
            <key>textureFileName</key>
            <string>BossWait.pvr.ccz</string>
        </dict>
    </dict>
</plist>
