<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bossthrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,362}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{397,362}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1699},{297,288}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,68},{297,288}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,693},{293,290}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,66},{293,290}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,373},{289,284}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,72},{289,284}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,705},{321,286}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,70},{321,286}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1075},{321,286}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,70},{321,286}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1469},{327,288}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,68},{327,288}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{297,356}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{297,356}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1113},{283,354}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,2},{283,354}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1474},{289,356}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{289,356}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,373},{323,330}}</string>
                <key>offset</key>
                <string>{-37,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{323,330}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{359,346}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,54},{359,346}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,2},{369,374}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{369,374}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{369,374}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{369,374}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{369,376}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{369,376}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{369,374}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{369,374}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{369,376}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{369,376}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{367,374}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{367,374}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,737},{325,336}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{325,336}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,373},{303,318}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{303,318}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,664},{283,274}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{283,274}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,988},{287,278}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,78},{287,278}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1398},{299,282}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,74},{299,282}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1028},{295,274}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,82},{295,274}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
            <key>Bossthrow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1325},{287,282}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,74},{287,282}}</string>
                <key>sourceSize</key>
                <string>{453,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossThrow.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a26487b1f0695ac8c9c3e836efb1af:943c4b07af759b9b2c653dbc99874018:7029c55588006c1a547b3bb15ce6a952$</string>
            <key>textureFileName</key>
            <string>BossThrow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
