<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,409},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>bk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,369},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>bk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,480},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>bk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1666},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>bk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1617},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1624},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>bk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1599},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>bk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1576},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>bk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1394},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1461},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1528},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1595},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1662},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>bk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1599},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>bk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1624},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>bk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1665},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>bk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1665},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1663},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>bk_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,434},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>bk_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,329},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>bk_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,446},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>bk_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,483},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>bk_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,331},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>bk_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,370},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>haixing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,331},{184,178}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{184,178}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,329},{186,178}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{186,178}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,895},{180,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{180,172}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{184,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{184,180}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,719},{174,180}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{174,180}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,746},{174,180}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{174,180}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>haixing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,324},{180,184}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{180,184}}</string>
                <key>sourceSize</key>
                <string>{204,186}</string>
            </dict>
            <key>shuicao_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1574},{88,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{88,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1437},{88,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1437},{88,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1534},{88,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1575},{88,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1664},{88,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{88,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1527},{88,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,135}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1394},{88,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1509},{88,137}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,137}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{88,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1395},{88,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1484},{88,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1356},{86,141}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{86,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{88,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{86,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1349},{86,141}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{86,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{86,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1245},{86,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1261},{86,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1268},{86,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1421},{86,141}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{86,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1307},{86,143}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1333},{86,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{86,143}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,613},{88,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1118},{88,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,141}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1444},{88,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1485},{88,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,139}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>shuicao_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{196,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{196,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,111}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{198,107}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{198,107}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,111},{196,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,109}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{198,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,220},{194,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{194,109}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,220},{194,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{194,105}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,222},{194,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{194,105}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,327},{194,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{194,105}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,111},{196,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{196,107}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,115},{196,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{196,105}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,111},{196,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{196,109}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>shuicao_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,710},{170,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{170,181}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{170,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,181}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,613},{174,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,181}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1094},{172,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1133},{172,177}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,789},{172,179}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{172,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1069},{174,177}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1222},{170,177}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,177}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,882},{170,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{170,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1054},{166,179}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{166,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{166,179}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{170,179}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,922},{170,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{170,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,963},{168,179}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>shuicao_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,642},{102,181}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,181}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,434},{104,183}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,506},{100,183}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,511},{100,183}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,608},{100,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{100,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,185}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,222},{100,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,185}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{100,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,509},{102,183}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,756},{100,179}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{100,179}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,937},{100,179}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{100,179}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,540},{100,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{102,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,183}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>shuicao_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,613},{104,181}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{104,181}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haicaoBeike.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e81a5753b2b985da50d85b3c44872542:cccaddb5ea3a16f675782933875be0e5:1f6797213f12f04b1cb4eb9ff5807ae5$</string>
            <key>textureFileName</key>
            <string>haicaoBeike.pvr.ccz</string>
        </dict>
    </dict>
</plist>
