<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BiBei/Left/lose/aa4x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Left/lose/aa5x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Left/lose/aa15x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Left/lose/aa16x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Left/lose/aa29x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/0x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/1x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1536</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/2x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1536</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/3x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/4x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/6x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/7x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/8x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/18x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>1536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/roll/22x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1536</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BiBei/Boss/wait/0x.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1536</integer>
				<key>y</key>
				<integer>1536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>NewAnimation3.png</string>
			<key>realTextureFileName</key>
			<string>NewAnimation3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>