<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rightwin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{250,250}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{250,250}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,508},{262,240}}</string>
                <key>offset</key>
                <string>{23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,51},{262,240}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,990},{256,256}}</string>
                <key>offset</key>
                <string>{29,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{256,256}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{256,266}}</string>
                <key>offset</key>
                <string>{29,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,26},{256,266}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,506},{264,264}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{264,264}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,252},{274,252}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{274,252}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,256}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{282,256}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{264,244}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{264,244}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1248},{242,244}}</string>
                <key>offset</key>
                <string>{29,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,45},{242,244}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1248},{244,250}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,42},{244,250}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{258,252}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{258,252}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1016},{254,252}}</string>
                <key>offset</key>
                <string>{25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{254,252}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{278,248}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{278,248}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{274,234}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{274,234}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,258},{266,248}}</string>
                <key>offset</key>
                <string>{24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{266,248}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,772},{260,242}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,48},{260,242}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,750},{262,238}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,52},{262,238}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
            <key>Rightwin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{276,254}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{276,254}}</string>
                <key>sourceSize</key>
                <string>{314,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RightWin.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b41a62055c960b2308ac768f7ede5b:ccf3343c2c2650d113facf8748be5696:cd824017eaafcc4d945f3a950f9d8f2d$</string>
            <key>textureFileName</key>
            <string>RightWin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
