<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leftwin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,280}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{270,280}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,792},{258,272}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{258,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,792},{258,272}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{258,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,792},{258,272}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{258,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{250,276}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{250,276}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,270},{246,276}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{246,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,270},{246,276}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{246,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,812},{240,270}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{240,270}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,812},{240,270}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{240,270}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1054},{242,268}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{242,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,280}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{270,280}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1054},{242,268}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{242,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{242,268}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{242,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{242,268}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{242,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1052},{252,268}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{252,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1052},{252,268}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{252,268}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{266,272}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{266,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{266,272}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{266,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,266},{276,276}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{276,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,266},{276,276}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{276,276}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,518},{272,274}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{272,274}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,280}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{270,280}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,544},{266,272}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{266,272}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,284}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{258,284}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,284}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{258,284}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{262,282}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{262,282}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{262,282}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{262,282}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{266,278}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{266,278}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>Leftwin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{266,278}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{266,278}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LeftWin.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fa05a4c448387ba55628affb3bfbbdf:a45f0df81291c442f2b3ed3669578dd6:a2cce83a5687284c023d5027d5f0b477$</string>
            <key>textureFileName</key>
            <string>LeftWin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
