<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leftwait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,542},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1624},{264,267}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{264,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1355},{264,267}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{264,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,817},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1086},{264,267}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{264,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{266,269}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,269}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{266,271}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{266,271}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1373},{266,271}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{266,271}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,273}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{268,273}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{266,273}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{266,273}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{266,273}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{266,273}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1626},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{266,271}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{266,271}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{266,271}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{266,271}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,277},{266,269}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{266,269}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,548},{264,269}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{264,269}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1357},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1088},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{264,267}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{264,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,271},{264,267}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{264,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,273},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,548},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,819},{266,267}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{266,267}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,271},{266,265}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{266,265}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,811},{266,265}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{266,265}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>Leftwait_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1086},{266,265}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{266,265}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LeftWait.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:274bc3c7fbf19a250bca22896d1a9034:39285ddd7b385cc3a915166f01e38634:54f962c7e2f505a3d13a616f5ac8aaf2$</string>
            <key>textureFileName</key>
            <string>LeftWait.pvr.ccz</string>
        </dict>
    </dict>
</plist>
