<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rightlost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{248,249}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{248,249}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{238,245}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{238,245}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{238,245}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{238,245}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,954},{240,233}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{240,233}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,958},{240,229}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{240,229}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{242,227}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{242,227}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{242,227}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{242,227}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,738},{242,227}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{242,227}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,233},{246,229}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{246,229}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{246,229}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{246,229}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,723},{248,233}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{248,233}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,488},{248,249}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{248,249}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,486},{250,235}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{250,235}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,486},{250,235}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{250,235}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,486},{250,235}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{250,235}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{250,235}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{250,235}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{256,231}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{256,231}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,255},{254,231}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{254,231}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,704},{248,249}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{248,249}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{256,251}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{256,251}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,244},{240,255}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{240,255}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,244},{240,255}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{240,255}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,257}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{238,257}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{240,255}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{240,255}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>Rightlost_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,464},{238,245}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{238,245}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RightLost.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36efa7af931bd10cf6981d18f203e659:053ebea1937371bc28f75e67064d8ded:60592b6ea0e23c6900e26204d8199bea$</string>
            <key>textureFileName</key>
            <string>RightLost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
