<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SH_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,884},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,881},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>SH_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,884},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,884},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,735},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>SH_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,735},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,732},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,586},{200,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>SH_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,732},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,586},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>SH_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,586},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,586},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>SH_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation00.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105c8875d121e077ec955d6a408a7d07:daeace8c760d915efaf450049f0a7c9a:c238b2711815d83694b58ef073b5093a$</string>
            <key>textureFileName</key>
            <string>AllAnimation00.pvr.ccz</string>
        </dict>
    </dict>
</plist>
