<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZYT_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{199,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,149}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{199,151}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,151}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,153},{199,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,149}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,304},{199,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,149}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,153},{200,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,161}</string>
            </dict>
            <key>ZYT_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{199,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,149}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{199,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,149}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>ZYT_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{200,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,161}</string>
            </dict>
            <key>ZYT_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,203},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,296},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,300},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,304},{200,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,145}}</string>
                <key>sourceSize</key>
                <string>{200,145}</string>
            </dict>
            <key>ZYT_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,153},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation02.pvr.ccz</string>
            <key>size</key>
            <string>{1983,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7627981d65820bb5893028298e8a703d:7e24c20219686d69f0e0c6dd5ec8f755:eba09c0a0513d53b374335b1e82c0bba$</string>
            <key>textureFileName</key>
            <string>AllAnimation02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
