<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LC_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,588},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,587},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{200,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,145}}</string>
                <key>sourceSize</key>
                <string>{200,145}</string>
            </dict>
            <key>LC_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,441},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,441},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,441},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,440},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,294},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,294},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>LC_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LC_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LC_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LC_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LC_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,888},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,885},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,884},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,738},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,738},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,735},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,734},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,888},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>LZS_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,588},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,588},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>LZS_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{198,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,144}}</string>
                <key>sourceSize</key>
                <string>{198,144}</string>
            </dict>
            <key>LZS_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation08.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75dcd04570561c7968a5ede5cb06a037:3e6233ce0385c591b6a9a343dbee492e:c61f3810f835ed5d6d2d9819aa24b275$</string>
            <key>textureFileName</key>
            <string>AllAnimation08.pvr.ccz</string>
        </dict>
    </dict>
</plist>
