<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TT_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,883},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,880},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,733},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>TT_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,880},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,733},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{200,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,145}}</string>
                <key>sourceSize</key>
                <string>{200,145}</string>
            </dict>
            <key>ZYT_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,733},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,733},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,586},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,586},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,586},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,586},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>ZYT_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,148},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>ZYT_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>ZYT_2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation03.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9946cf935eedcde30ace89165b24a38:6446a297fa4dcb92f1cca6fe4c3e6e47:57463f27de46e1e4e3d0bee4b4aad0c0$</string>
            <key>textureFileName</key>
            <string>AllAnimation03.pvr.ccz</string>
        </dict>
    </dict>
</plist>
