<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,208},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,208},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,105},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{101,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1959,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730e56077a48c7f3139d61c166000710$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
