<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,180},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,180},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,180},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqi01.pvr.ccz</string>
            <key>size</key>
            <string>{1414,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f4fb91e8389fb784531bad8cfda9bf9:3cbb05714d4103224ba0f9c896e2c0eb:12dae0c387154ae80108cd4b6c0766e4$</string>
            <key>textureFileName</key>
            <string>yaoqi01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
