<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqi_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{351,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,178}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{351,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,178}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{351,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,178}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,178}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqi03.pvr.ccz</string>
            <key>size</key>
            <string>{355,1437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9e5c67179aa9a65b118f070db2412e:ec486e3e689ca7792c89e0eb6aa12210:42351bc683f136a547917fb5e7546cde$</string>
            <key>textureFileName</key>
            <string>yaoqi03.pvr.ccz</string>
        </dict>
    </dict>
</plist>
