<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,708},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,708},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,355},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,355},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1061},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
            <key>yaoqi_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{351,176}}</string>
                <key>sourceSize</key>
                <string>{351,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqi02.pvr.ccz</string>
            <key>size</key>
            <string>{358,1239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ebfa3fbc14b234531ea81796169007:02e5dfc507829411c5666be624e00e7f:72048e8b1d54df13303bbf7968bd1cdd$</string>
            <key>textureFileName</key>
            <string>yaoqi02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
