<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{506,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d157021c5444abfdd175857fe0fc09d$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
