<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{270,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{270,144}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{284,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{284,152}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,362},{280,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{280,148}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,306},{280,166}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{280,166}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{284,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,24},{284,160}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation06.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,148},{262,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{262,212}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{302,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{302,212}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,198}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{316,198}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
            <key>animation09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{316,196}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,196}}</string>
                <key>sourceSize</key>
                <string>{316,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardanimation.png</string>
            <key>size</key>
            <string>{1004,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:460e2a14c3ae723d385954847cf290d4$</string>
            <key>textureFileName</key>
            <string>cardanimation.png</string>
        </dict>
    </dict>
</plist>
