<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>F_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,143}}</string>
                <key>sourceSize</key>
                <string>{200,143}</string>
            </dict>
            <key>F_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation014.pvr.ccz</string>
            <key>size</key>
            <string>{1887,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189004a91c288e5be63129385e8393e4:2b1d3b58013cff2a4e283d89641ac637:bc9bd5b9f2fa6bbb356132ad5699a6bc$</string>
            <key>textureFileName</key>
            <string>AllAnimation014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
