<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>D_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>D_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,302},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,156},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>D_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,156},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,156},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>D_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,653},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,854},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,653},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,452},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,306},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>D_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,306},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>D_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,306},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>LZS_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,854},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,653},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,452},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,653},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,653},{199,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,141}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,452},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,854},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,653},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,452},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,452},{199,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,141}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>LZS_2_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,854},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation010.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff01bd06df0aec577e7aaa320282eb10:f020a935bfbef8d3f3090c86acaf1931:0375a3a7ea9d041d38b2c98afe218e9f$</string>
            <key>textureFileName</key>
            <string>AllAnimation010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
