<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>F_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{200,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>F_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,152}}</string>
                <key>sourceSize</key>
                <string>{207,152}</string>
            </dict>
            <key>F_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,146},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,156},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>F_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>F_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,587},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,296},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,879},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,879},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,442},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,442},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,297},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,297},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,152},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,152},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>F_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>M_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{200,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,142}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>M_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,441},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,788},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,733},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,587},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,733},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,587},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,743},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,597},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>M_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,451},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation013.pvr.ccz</string>
            <key>size</key>
            <string>{1016,1031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e6980373198829326c4afe08079fc3:9aaf43896633db0a9613114c31227be8:ba0716a78f0836653a5fdcd921efe9ed$</string>
            <key>textureFileName</key>
            <string>AllAnimation013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
