<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LC_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,889},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,889},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,889},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,889},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,741},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,741},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,741},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,741},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,593},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,593},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,593},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,593},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,445},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,445},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,445},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,445},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,297},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,297},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,297},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>S_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,297},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,149},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,149},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,149},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>S_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,149},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation06.pvr.ccz</string>
            <key>size</key>
            <string>{1007,1037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab85d57bf0ec09b50fd75a18dacb0787:00faf9e371ed7ef26488c1b4948afb33:d0d45e924223d84183a263422992770b$</string>
            <key>textureFileName</key>
            <string>AllAnimation06.pvr.ccz</string>
        </dict>
    </dict>
</plist>
