<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,310},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,152},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,152},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>S_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,152},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,152},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>S_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>S_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{199,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,146}}</string>
                <key>sourceSize</key>
                <string>{199,146}</string>
            </dict>
            <key>TT_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,150},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,292},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,302},{199,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,142}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,293},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,296},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,296},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,302},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,302},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,302},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,147},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,292},{198,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,143}}</string>
                <key>sourceSize</key>
                <string>{200,143}</string>
            </dict>
            <key>TT_2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,148},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation05.pvr.ccz</string>
            <key>size</key>
            <string>{2039,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:490e71c15105c9aa14e1fdc79d54f413:1844d38e9712d03e83054cf81ddc8856:e078f12663aacbfa9b316b22cefd473f$</string>
            <key>textureFileName</key>
            <string>AllAnimation05.pvr.ccz</string>
        </dict>
    </dict>
</plist>
