<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TT_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,152},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{199,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>TT_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{200,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>TT_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,732},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,878},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,586},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,732},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,878},{198,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>TT_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,586},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,440},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,294},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,148},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,736},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,882},{199,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,143}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>TT_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,590},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,740},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,444},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,594},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,298},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,448},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,152},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,302},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>TT_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllAnimation04.pvr.ccz</string>
            <key>size</key>
            <string>{1008,1027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23c0bf8ab2ebe23e881014f371830885:0ae64465d82700bcc0c9a13bfb94a788:10eeacac19a52d0643feba0f48b33bf2$</string>
            <key>textureFileName</key>
            <string>AllAnimation04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
