<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0x00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x04.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x05.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x06.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x07.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x08.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x09.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x0A.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x0B.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x0C.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x0D.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x11.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x12.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x13.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x14.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x15.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x16.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x17.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x18.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x19.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x1A.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x1B.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x1C.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x1D.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x21.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x22.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x23.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x24.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x25.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x26.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x27.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x28.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x29.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x2A.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x2B.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,279},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x2C.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,372},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x2D.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,186},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x31.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x32.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x33.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x34.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,69},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x35.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,0},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x36.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,93},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x37.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,162},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x38.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,231},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x39.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,255},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x3A.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,300},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x3B.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,324},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x3C.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,369},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x3D.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,393},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>0x3E.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,93},{70,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cards.png</string>
			<key>realTextureFileName</key>
			<string>cards.png</string>
			<key>size</key>
			<string>{784,465}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>784</integer>
			<key>height</key>
			<integer>465</integer>
		</dict>
	</dict>
</plist>