<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{199,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,147}}</string>
                <key>sourceSize</key>
                <string>{199,147}</string>
            </dict>
            <key>image2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{199,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>image3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>image4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,319},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>image5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>image6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,473},{199,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{199,148}</string>
            </dict>
            <key>image7x.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,165},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>image8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{199,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,152}}</string>
                <key>sourceSize</key>
                <string>{199,152}</string>
            </dict>
            <key>image9x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,152}}</string>
                <key>sourceSize</key>
                <string>{207,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>readyImage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ea6576a6498d3ce95f2351c8416941$</string>
            <key>textureFileName</key>
            <string>readyImage.png</string>
        </dict>
    </dict>
</plist>
