<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>cardtype-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,35},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>cardtype-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,35},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>cardtype-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,35},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>cardtype-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,35},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>cardtype-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,35},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>cardtype-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,35},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>cardtype-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>cardtype-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>cardtype-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardtype_new.png</string>
            <key>size</key>
            <string>{252,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b4b7593d119169f93a379d227cdfef:429f862523cf7959e80b52c65f9f1118:2dc1d7a29edbb3386254b2d40e491991$</string>
            <key>textureFileName</key>
            <string>cardtype_new.png</string>
        </dict>
    </dict>
</plist>
